<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/Profil.css"> 
    <title>Profile</title>
</head>
<body>

<%- include ('../partials/header') %->
<main>
    <div class="Profile">

    </div>Profile</h1>

    <p>Username: <%= user.username %></p>
    <p>Email: <%= user.email %></p>
    <p>Joined: <%= user.createdAt.toLocaleString() %></p>
    <%- if(user.bio) { %>
        <p>Bio: <%= user.bio %></p>
        <%- } %>
</main>

        <%- include ('../partials/header') %->
        
</body>
</html>