<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forum LoL - Profil</title>
    <link rel="stylesheet" href="/assets/css/profil.css">
    <link rel="stylesheet" href="/assets/css/partials_css/header.css">
    <link rel="stylesheet" href="/assets/css/partials_css/footer.css">
    <link rel="icon" type="image/png" href="/assets/img/LoL-Symbol.png">
</head>
<body>
    <%- include('../partials/header') %>
    <main>
        <% if (!user) { %>
            <div class="auth-options">
                <h2>Veuillez vous connecter ou vous inscrire pour voir votre profil</h2>
                <a href="/login">Se connecter</a>
                <a href="/register">S'inscrire</a>
            </div>
        <% } else { %>
            <div class="Profile">
                <h1>Profil</h1>
                <p>Username: <%= user.username %></p>
                <p>Email: <%= user.email %></p>
                <p>Joined: <%= user.createdAt.toLocaleString() %></p>
                <% if (user.bio) { %>
                    <p>Bio: <%= user.bio %></p>
                <% } %>
                <a href="/logout">Se déconnecter</a>
            </div>
        <% } %>
    </main>
    <%- include('../partials/footer') %>
</body>
</html>
